{% extends 'base.html' %}

{% block content %}

<div class="row justify-content-center align-items-center vh-100">

<div class="col-md-6">

<div class="glass-card p-4">

<h2 class="mb-4 text-center">

Create Wallet

</h2>

<form method="POST">

{% csrf_token %}

<div class="mb-3">

<label>Names</label>

<input
type="text"
name="names"
class="form-control wallet-input">

</div>

<div class="mb-3">

<label>Phone Number</label>

<input
type="text"
name="phone"
class="form-control wallet-input">

</div>

<div class="mb-3">

<label>Secret Code</label>

<input
type="password"
name="secret"
class="form-control wallet-input">

</div>

<button
class="btn btn-wallet w-100">

Generate Wallet

</button>

</form>

</div>

</div>

</div>

{% endblock %}
